<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mapa</title>
    <link rel="stylesheet" href="/styles/map.css"> <!-- Asegúrate de crear este archivo CSS -->
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-HM3P74Y32W"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-HM3P74Y32W');
    </script>
</head>
<body>
    <div id="map-container">
        <h1>Mapa del Juego</h1>
        <div id="canvas-container"></div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.5.0/p5.js"></script>
    <script src="/scripts/sketch.js"></script> <!-- Enlaza tu archivo sketch.js -->
</body>
</html>
